<div id="title">
    <h1>{{title}}</h1>
    <br>
    <h2>{{subtitle}}</h2>
    <h4>{{habilities}}</h4>
</div>


<article class="about">
    
    <h1>About me</h1>
    
    <p>Hello! I am David, a passionate professional expert in graphic design, web design, programming, social networks and computer systems and telecommunication networks. </p>

    <p>I am in love with drawing, photography and graphic design and I love doing attractive work with Adobe Master.</p>

    <p>The leap into cross-platform application development has allowed me to discover Java, SQL, MongoDB, NodeJS, HTML, CSS, JavaScript, and frameworks like React and Angular..</p>

    <p>My experience in digital marketing and social media management has allowed me to bring my clients closer to the eyes of the people..</p>

    <p>For years I have worked in IT systems and telecommunications networks providing solutions to companies.</p>

    <p>Join our community and start sharing your projects! </p>
    
</article>


<!-- comment -->